html, body {
  margin: 20px;
  font-family: sans-serif;
}

.box-wrapper {
  clear:both;
}
.box {
  display: block;
  width: 80px;
  height: 80px;
  background-color: #FF6600;
  text-align: center;
  line-height: 80px;
  color: #FFF;
  float: left;
  margin-right: 10px;
}

.box:hover {
  background-color: #000;
  cursor: pointer;
}

hr {clear: both;}